# Python
*.pyc
.mypy_cache
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage*
.cache
.pytest_cache
coverage.xml

# Distribution / packaging / files
poetry.lock
env*
.env
env/
.eggs/
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store

# MkDocs
docs/_build/
site

# viewdoc output
.long-description.html

#VS Code
.vscode

# JetBrains
.idea
