[tool.poetry]
name = "mongodb-odm"
version = "0.1-alpha2"
description = "MongoDB-ODM, NOSQL databases in Python, designed for simplicity, compatibility, and robustness."
authors = ["Nayan Biswas <nayan32biswas@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/nayan32biswas/mongodb-odm"
documentation = "https://github.com/nayan32biswas/mongodb-odm"
repository = "https://github.com/nayan32biswas/mongodb-odm"
license = "MIT"
exclude = []
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Database",
    "Topic :: Database :: Database Engines/Servers",
    "Topic :: Internet",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.7"
pymongo = "^4.3.3"
pydantic = "^1.10.0"

[tool.poetry.group.dev.dependencies]
async_generator = { version = "*", python = "~3.6" }
async-exit-stack = { version = "*", python = "~3.6" }
autoflake = "^1.4"
black = { version = "^22.10.0", python = "^3.7" }
cairosvg = { version = "^2.5.2", python = "^3.7" }
coverage = { extras = ["toml"], version = "^6.2" }
fastapi = "^0.68.1"
flake8 = "^5.0.4"
isort = "^5.9.3"
mypy = "0.971"
mdx-include = "^1.4.1"
mkdocs = "^1.2.1"
mkdocs-material = "^8.1.4"
pillow = { version = "^9.3.0", python = "^3.7" }
pre-commit = "^2.20.0"
pytest = "^7.0.1"
requests = "^2.26.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-version-plugin]
source = "init"

[tool.coverage.run]
parallel = true
source = ["docs_src", "tests", "mongodb_odm"]
context = '${CONTEXT}'

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    'if __name__ == "__main__":',
]

[tool.isort]
profile = "black"
known_third_party = ["mongodb_odm"]
skip_glob = ["mongodb_odm/__init__.py"]


[tool.mypy]
# --strict
disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
implicit_reexport = false
strict_equality = true
# --strict end

[[tool.mypy.overrides]]
module = ""
warn_unused_ignores = false

# invalidate CI cache: 1
